.link {
  display: inline;
}

.nav {
  gap: 0 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 75vw;
  margin: auto;
}

.image {
  position: relative;
  width: auto;
  min-height: 225px;
  max-height: 225px;
  margin: 3rem auto 0;
  max-width: 225px;
  img {
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
    border: 10px solid var(--border);
  }
}

.articles {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}
