.image {
  position: relative;
  width: auto;
  min-height: 200px;
  max-height: 200px;
  margin: 2rem 0 0;
  img {
    object-fit: cover;
    object-position: bottom;
  }
}

.link {
  display: inline;
}

.articles {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
